<!-- /.content-wrapper -->
<footer class="main-footer text-center">
    <strong>
        Tools Commercial &copy; 2024 <a class="text-bni-primary"
                               href="#">
            Made With <i style="color: #FF4033;"
                         class="fas fa-heart"></i> By MIS
        </a>.
    </strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
    </div>
</footer>