body {
    position: relative;
    background: rgb(0, 93, 105);
    background: url("../img/bgg.png");
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    transition: all 500ms ease-in-out;
    backdrop-filter: blur(0px);
}

.login-box {
    /*background: url("../img/port.jpg");
    background-position-x: 10px;*/
}

#download-am:hover {
    color: #007bff !important;
    text-shadow: 0px 5px 5px rgba(0,0,0,0.6);
}

body::before {
    content: "";
    transition: all 500ms ease-in-out;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient( 300deg, rgba(236, 141, 26, 0.35) 25%, rgba(44, 161, 175, 0.3) 55%, rgb(255, 255, 255, 0.1) 70% );
}

.cloud-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.cloud-move {
    animation: Move 112000ms ease-in infinite;
}

@keyframes Move {
    from {
        transform: translateX(-100%)
    }

    to {
        transform: translateX(150%)
    }
}
